<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal portfolio</title>
    <link rel="stylesheet" href="../static/home.css">
    <script src="../static/rc.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>
        </ul>
    </nav>
    <div class="mainbigbox">
        <div class="mainboxunder">
            <div class="rightbox">
                <div id="wru">
                    <h4>Hello, I'm</h4>
                </div>
                <div id="name">
                    <h1>Ajay Bhandare</h1>
                </div>
                <div id="fildname">
                    <h4>Full Stack Devloper</h4>
                </div>
                <div id="button">
                    <button id="HireMe">Hire Me</button>
                    <button id="DownloadCV">Download CV</button>
                </div>
            </div>
            <div class="leftbox">
                <div id="imgbox">
                    <img src="../static/pngwing.com (5).png">
                </div>
            </div>
        </div>
        <!-- <hr>
        <hr> -->
        <div class="endbox">
            <div class="softwareexprince">
                <h2 id="software">SKILLS</h2>
                <div class="skillboxunder">

                <div id="skillboxfive">

                    <div id="front">
                        <img src="../static/pngwing.com (7).png ">
                        <h1>JavaScript</h1>
                    </div>
                    <div id="back">
                        <h1>JavaScript</h1>
                        <p>1 Year Exprience In JavaScript</p>
                    </div>
                </div>

                <div id="skillboxfive">
                    <div id="front">
                        <img src="../static/c logo.png ">
                        <h1>C Language</h1>
                    </div>
                    <div id="back">
                        <h1>C Language</h1>
                        <p>1 Year Exprience In C_Language</p>
                    </div>
                </div>

                <div id="skillboxfive">
                    <div id="front">
                        <img src="../static/nodejs1.png ">
                        <h1>Node.js</h1>
                    </div>
                    <div id="back">
                        <h1>Node.js</h1>
                        <p>1 Year Exprience In Node.js</p>
                    </div>
                </div>
                <div id="skillboxfive">
                    <div id="front">
                        <img src="../static/css.png ">
                        <h1>CSS</h1>
                    </div>
                    <div id="back">
                        <h1>CSS</h1>
                        <p>1 Year Exprience In CSS</p>
                    </div>
                </div>

                <div id="skillboxfive">
                    <div id="front">
                        <img src="../static/html.png ">
                        <h1>HTML</h1>
                    </div>
                    <div id="back">
                        <h1>HTML</h1>
                        <p>1 Year Exprience In HTML</p>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
    <div class="educationsection"></div> 
        <div class="educantiondiv">
            <h1 id="collage">* EDUCATION *</h1>
        </div>
        <div class="collegenamesec">
        <div class="collagename">
            <h3 id="coursename"> <a href="https://www.shiksha.com/college/vss-college-jalna-119601/courses" target="_blank">>BSC (COMPUTER SCIENCE)</a></h3>
            <h4 id="collagename"><a href="https://www.shiksha.com/college/vss-college-jalna-119601/courses" target="_blank">VSS College Jalna</a></h4>
        </div>
        <div class="collagename">
            <h3 id="coursename"><a href="https://www.jesjalna.org/" target="_blank">>MCVC ELE-TECH.</a></h3>
            <h4 id="collagename"><a href="https://www.jesjalna.org/" target="_blank">JES College Jalna</a> </h4>
        </div>
    </div>
        <div class="collagename2">
            <h3 id="coursename">-MS-CIT, TALLY, ENGLISH TYPING(30,40)-</h3>
        </div>
</body>

</html>